.form__textarea{
    resize: none;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid rgb(4, 158, 214);
    font-size: 16px;
    margin-bottom: 20px;
    
}
/* rgb(4, 158, 214) */

.form__textarea::placeholder{
    font-size: 16px;
}

.form__title{
    text-align: center;
    margin-bottom: 15px;
    color: var(--tg-theme-text-color);
    font-weight: 400;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.form{
    display: flex;  
    flex-direction: column;
    
}

.form__input-name{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid rgb(4, 158, 214);
    font-size: 16px;
}

.form__input-name::placeholder{
    font-size: 14px;
}

.form__title-img{
    color: var(--tg-theme-text-color);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;    
}